<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    < class="container">
        <h1>장바구니</h1>
        <table>
            <tr>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
                <th>합계</th>
            </tr>
            {% for item in cart_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}원</td>
                    <td>{{ item.quantity }}개</td>
                    <td>{{ item.price * item.quantity }}원</td>
                </tr>
            {% endfor %}
        </table>
        <div id="cart-total">
            총 가격: {{ total_price }}원
        </div>

        <a href="/kakaopay">결제하기</a>
</body>
</html>