<html>
<head>
<title>Registration</title>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
<link rel="stylesheet", href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
<div id="register-wrap">
<form action="/registerForm" method="POST" onsubmit="return validate()">
    <p>Email: <input type="email" name="email"></p>
    <P>Password: <input type="password" name="password" id="password" required></p>
    <p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>
    <p><input type="submit" value="Register"></p>

    <a href="/login">Login here</a>
</form>
</div>
</body>
</html>